.btn-mysize-1{
    width: 28px!important;
    height: 28px;
    font-size: 13px;
}
.btn-mysize-2{
    width: 28px!important;
    height: 28px;
    padding: 0px;
    font-size: 13px;
}
.btn-mysize-3{
    width: 28px!important;
    height: 28px;
    padding: 0px;
    font-size: 13px;
}